* {

  margin: 0;

  padding: 0;

}



.repo {

  position: absolute;

  top: 15px;

  right: 15px;

  z-index: 10;

  background: #8BC34A;

  color: #fff;

  padding: 10px 15px;

  border-radius: 5px;

}

.repo i {

  font-size: 20px;

  vertical-align: middle;

}

.repo span {

  display: none;

  margin-left: 5px;

}

@media (min-width: 768px) {

  .repo span {

    display: inline-block;

  }

}

.repo:hover, .repo:active, .repo:focus {

  color: #fff;

  text-decoration: none;

  background-color: #7CB342;

}



/* Container

   ========================================================================== */

.container {

  position: relative;

  right: 0;

  left: 0;

  z-index: 10000;

  height: auto;

  width: 100vw;

  padding: 5px;

  background: #31a541;

  display: flex;

  align-items: center;

  flex-wrap: wrap;

  justify-content: center;

}

.container #buscar-locais {

  display: block;

  width: 100%;

}

.container select {

  cursor: pointer;

  background-color: #31a541;

  color: white;

  border: 2px solid #fff;

  box-shadow: none !important;

  outline: none !important;

}



/* Mapa

   ========================================================================== */

#mapgoogle {

  position: relative;

  height: 100vh;

  width: 100%;

  background: #f3f3f3;

}

#legend {

    font-family: Arial, sans-serif;

    /*background: #fff;*/

    padding: 10px;

    margin: 10px;

    /*border: 3px solid #000;*/

    z-index: 1;

    font-size: 11px;

    position: absolute;

    bottom: 0px;

    right: 0px;

}

#MdBottom{

    position: absolute;

    right: 0px;

    top: 0;

}

/* Mapa    ========================================================================== */
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
.searchopkform{
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
}
/* Mapa    ========================================================================== */
/**stilos de mapa**/
.topbar{
  font-family: arial;
}
.topbar a{
  color: #00b8ff;
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em;
    display: block;
}
.topbar h1{
  margin: 0;
  color: #00b8ff;
  font-size: 1.8em;
    font-family: fantasy;
  text-align: center;
}
